# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Linux
*~

#IDE
.vs/
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
out/
artifacts/

# .NET
*.cache
*.pdb
*.mdb
*.log
*.tmp
/.dotnet-cli/.dotnet

# Test results
TestResults/
coverage/
*.coverage
*.coveragexml

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/

# MAUI / Xamarin
*.apk
*.apks
*.aab
*.ipa
*.app

*.keystore
*.p12
*.mobileprovision

# Android
/*.iml
.gradle/
local.properties
captures/
# iOS
DerivedData/
*.xcuserstate
*.xcworkspace


# Logs
logs/
*.log

# Environment files
.env
.env.*
!.env.example

# Secrets
secrets.json
appsettings.Development.json
appsettings.Local.json


# Temporary files
*.tmp
*.temp
*.bak
*.old

/CLAUDE.md
/SPEC.md
/.claude
/BUISNESS_RULES.md